extends layout

block content

  div.jumbotron(style='display:none;')

    h1= "Tapaprint"

    p Die Brücke zwischen Print und Digital.
    a(href='/print/new', class=["btn", "btn-primary", "btn-lg"]) Neuen Print anlegen


  div.prints
      each print in prints
          if print.path
              a(href="/show/"+print.name, title=print.name)
                div.print-item(style="background: url(/image/small/"+print.path+") 50% 50% no-repeat;")


  div