doctype html
html
  head
    meta(charset="utf-8")
    meta( http-equiv="X-UA-Compatible", content="IE=edge")
    meta( name="viewport", content="width=device-width, initial-scale=1")


    title= title
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/photoswipe/photoswipe.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/photoswipe/lib/jquery-1.6.1.min.js')
    script(src='/lib/photoswipe/lib/simple-inheritance.min.js')
    script(src='/lib/photoswipe/code-photoswipe-1.0.11.min.js')

  body
      nav(class=['navbar', 'navbar-default', "hidden-xs"])
          div.container-fluid
              div.navbar-header
                  a(href='/', class='navbar-brand') Tapaprint

              div(class=["collapse", "navbar-collapse"])
                 ul(class=["nav", "navbar-nav"])
                    li
                        a(href='/') Gallerien
                    li
                        a(href='/print/new') Gallerie erstellen


                  ul(class=["nav", "navbar-nav","navbar-right"])
                    if print
                       form(method='post', action='/print/remove/'+print.name, class=['navbar-form', 'navbar-right'])
                            input(type="submit", value="Gallerie löschen", class=['btn','btn-danger'])



        nav(class=['navbar', 'navbar-default', "visible-xs"])
            div.container-fluid
                    div.navbar-header
                        if(print)
                            div.navbar-brand=print.name






      block content