extends layout

block content

    div(style="margin:20px;")
        h1= title

        form(method='post', action='/print/new', enctype="multipart/form-data", role="form")
            div.form-group
                label Name
                input(type="text", name="name", class="form-control")
            div.form-group
                label Bild
                input(type="file", name="image", class="form-control")

            input(type="submit", value="Hochladen", class=['btn','btn-default'])
