extends layout
block content

    script.
        $(document).ready(function(){
            $("#gallery a").photoSwipe();
        });


    div.page-header(class=["hidden-xs"])
        div(style="margin-left:5px;")
            h3= print.name.toUpperCase()

    div.page-content

        #gallery.prints
                a(href="/image/"+print.path, alt=image)
                    div.print-item(style="background: url(/image/small/"+print.path+") 50% 50% no-repeat;")

                if print.data
                    each image in print.data
                        div.print-item
                            a(href="/image/"+image, alt=image)
                                 div(style="background: url(/image/small/"+image+") 50% 50% no-repeat;width:150px;height:150px;")

                             div(class=["print-item-navbar","hidden-xs"])
                                form(method='post', action='/print/'+print.name+'/remove/'+image)
                                        input(type="submit", value="Bild löschen", class=['btn','btn-xs','btn-link'])



        div(style="clear:both;",class=["hidden-xs"])

            div
                label Weitere Bilder hochladen
                input(id="fileupload", type="file", name="image", data-url='/print/'+print.name+'/new', class="form-control", multiple="multiple")

                div( id="progress")
                    div(class=["bar"], style="width: 0%;")


                script(src='/lib/jQueryFileUpload/js/vendor/jquery.ui.widget.js')
                script(src='/lib/jQueryFileUpload/js/jquery.iframe-transport.js')
                script(src='/lib/jQueryFileUpload/js/jquery.fileupload.js')

                script.
                    $(function () {
                        $('#fileupload').fileupload({
                            dataType: 'json',
                            progressall: function (e, data) {
                                var progress = parseInt(data.loaded / data.total * 100, 10);
                                $('#progress .bar').css(
                                'width',
                                progress + '%'
                                );
                            },
                            done: function (e, data) {
                                $.each(data.result.files, function (index, file) {
                                    $('<p/>').text(file.name).appendTo(document.body);
                                });
                            }
                        });
                    });

