
.page-content{
    margin: 5px;
}


.prints{

}

.bar {
    height: 18px;
    background: green;
}

.print-banner{
    width:100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 30px;

}

.print-item{
    position: relative;
    float:left;
    width:150px;
    height:150px;
    margin:2px;
    overflow: hidden;
    border: 1px solid gray;
}

.print-item-navbar{
    display: none;
    position:absolute;
    bottom:0;
    background: rgba(0, 0, 0, 0.7);
    width:100%;
    text-align:center;
    padding: 2px;
}

.print-item:hover .print-item-navbar{
    display: block;
}